<!-- Header -->
			<header id="header">
				<h1><a href="#" style="display: flex; justify-content: center; align-items: center;"><img src="/images/logo_m.svg" style="min-height:4vh; height: 5vh;" alt="" srcset=""></a></h1>
				
			</header>

		<!-- Banner -->
            
            
			<section id="banner">
				<div class="inner" style="height:95%; max-width:95%; background-image: url('/images/Individual.png'); background-position:center; background-size:60%; background-repeat: no-repeat;">
					<h2 class="major special">Dirección de Mercados y Plazas</h2>
					<h3>Misión</h3>
					<p>Impulsar la prestación oportuna y eficiente de los Servicios Públicos, mediante la aplicación de programas que generen la plena satisfacción de quienes viven en la capital michoacana y de sus visitantes.</p>
					<h3>Visión</h3>
					<p>Ser una dependencia ejemplo, en la prestación de Servicios Públicos, logrando la eficiencia en la atención oportuna y calidad necesaria para el bienestar de la ciudadanía con honestidad y transparencia en el ejercicio de los recursos materiales y humanos.</p>
				</div>
			</section>
