
<!-- Header -->
			<header id="header">
				<h1><a href="#" style="display: flex; justify-content: center; align-items: center;"><img src="/images/logo_m.svg" style="min-height:4vh; height: 5vh;" alt="" srcset=""></a></h1>
				<a href="/comercios/folio/inspector/ASD234">Inspectores</a>
			</header>

		<!-- Banner -->
            
            
			<section id="banner">
				<div class="inner" style="overflow-y:scroll; overflow-x:hidden; background-image: url('/images/Individual.png'); background-position:center; background-size:60%; background-repeat: no-repeat;">
					<br><br>
					<h2 class="major special">Formulario de Registro</h2>
					<h4>Nuevo Inspector</h4>
					
		<!-- Formulario -->
			
                    <form action="/signup" style="max-height:70%;" id="myform" method="post">
					<ul class="actions special stacked">
						<div class="col-6 col-12-xsmall"  style="padding-top:10px;">
							<input type="text" name="Nombres" style="border-color: rgba(0,0,0,0.7); color:black;" id="Nombres" value="" required placeholder="Nombre(s)" />
						</div>
						<div class="col-6 col-12-xsmall"  style="padding-top:10px;">
							<input type="text" name="Ape_Pat" style="border-color: rgba(0,0,0,0.7); color:black;" id="Ape_Pat" value="" required placeholder="Apellido Paterno" />
						</div>
						<div class="col-6 col-12-xsmall"  style="padding-top:10px;">
							<input type="text" name="Ape_Mat" style="border-color: rgba(0,0,0,0.7); color:black;" id="Ape_Mat" value="" required placeholder="Apellido Materno" />
						</div>
						<div class="col-6 col-12-xsmall"  style="padding-top:10px;">
							<input type="text" name="zonas" style="border-color: rgba(0,0,0,0.7); color:black;" id="zonas" value="" required placeholder="Zona" />
						</div>
						<div class="col-6 col-12-xsmall"  style="padding-top:10px;">
							<input type="text" name="turno" style="border-color: rgba(0,0,0,0.7); color:black;" id="turno" value="" required placeholder="Turno" />
						</div>
						<div class="col-6 col-12-xsmall"  style="padding-top:10px;">
							<input type="text" name="usuario" style="border-color: rgba(0,0,0,0.7); color:black;" id="usuario" value="" required placeholder="Usuario" />
						</div>
						<div class="col-6 col-12-xsmall"  style="padding-top:10px;">
							<input type="text" name="password" style="border-color: rgba(0,0,0,0.7); color:black;" id="password" value="" required placeholder="Contraseña" />
						</div>
						<li><button type="submit" form="myform" class="button primary large">Registrar</button></li>
						<li><a href="/contador/" style="background-color: red;" class="button primary">Cancelar</a></li>
					</ul>
                    </form>
				
				</div>
			</section>
