
		<!-- Banner -->
			<section id="banner">
				<div class="inner" style="background-image: url('/../../images/Individual.png'); background-position:center; background-size:60%; background-repeat: no-repeat;">
					<h2 class="major special">Dirección de Mercados y Plazas</h2>
					<h4>Ingresa con tus credenciales preasignadas</h4>
                    <form action="/registrar_maximo" id="myform" method="post">
					<ul class="actions special stacked">
						<div class="col-12"  style="padding-top:10px;">
							<input type="text" required name="nombre" style="border-color: rgba(0,0,0,0.7);" id="nombre" value="" placeholder="Nombre" />
						</div>
						<div class="col-12"  style="padding-top:10px;">
							<input type="text" required name="usuario" style="border-color: rgba(0,0,0,0.7);" id="usuario" value="" placeholder="Usuario" />
						</div>
						<div class="col-12" style="padding-top:10px;">
							<input type="password" required name="password" style="border-color: rgba(0,0,0,0.7);" id="password" value="" placeholder="Contraseña" />
						</div>
						<li><button type="submit" class="button primary large">Registrar</button></li>
					</ul>
                    </form>
				</div>
			</section>
