
		<!-- Banner -->
			<section id="banner">
				<div class="inner" style="background-image: url('/../../images/Individual.png'); background-position:center; background-size:60%; background-repeat: no-repeat;">
					<h2 class="major special">Dirección de Mercados y Plazas</h2>
					<h4>Ingresa con tus credenciales preasignadas</h4>
                    <form action="/comercios/inspeccion" id="myform" method="post">
					<ul class="actions special stacked">
						<div class="col-6 col-12-xsmall">
							<input type="text" name="folio" style="border-color: rgba(0,0,0,0.7);" id="folio" value="{{{folio.id}}}"/>
						</div>
						<div class="col-6 col-12-xsmall"  style="padding-top:10px;">
							<input type="text" name="usuario" style="border-color: rgba(0,0,0,0.7);" id="name" value="" placeholder="Usuario" />
						</div>
						<div class="col-6 col-12-xsmall" style="padding-top:10px;">
							<input type="password" name="password" style="border-color: rgba(0,0,0,0.7);" id="password" value="" placeholder="Contraseña" />
						</div>
						<li><a onclick="document.getElementById('myform').submit(); return false;" class="button primary large">Ingresar</a></li>
					</ul>
                    </form>
				</div>
			</section>
