<!DOCTYPE HTML>
<html>
	<head>
		<title>Dirección de Mercados y Plazas</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="is-preload" style="padding-top: 0;">

		<!-- Header -->
			

        {{{body}}}




		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<p>&copy; Medusa Soluciones Creativas. Todos los Derechos Reservados.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
	</body>
</html>